* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2d42;
}

.form-IniciarSesión {
    width: 400px;
    background: #3a506b;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-IniciarSesión h4 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: #ffffff;
}

.form-IniciarSesión p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-IniciarSesión a {
    color: white;
    text-decoration: none;
}

.form-IniciarSesión a:hover {
    color: white;
    text-decoration: underline;
}

.form-IniciarSesión .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
    position: relative;
    top: 17px;
    cursor: pointer; 
}

.botons:hover {
    background-color: #24303c;
}
